@media(max-width: 1000px){
    .item{
        width: 40vw;
        height: 45vw;
        margin: 4vw 5vw;

    }
}
@media(max-width: 500px){
    .box{
        height: 40vh;
    }
    .info h2{
        font-size: 20px;
        line-height: 15px;
    }
    .item{
        width: 80vw;
        height: 85vw;
        margin: 4vw 10vw;

    }
}
