*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-image: url("./resources/bgtop2.jpg");
    background-size: cover;
    background-position: center;
}
.themeColor{
    color: rgb(97,11,174);
}


/* DESIGING THE HEADER */
header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-size: 3000px;
    background: linear-gradient(141deg, #e2c87350 0%, #c162e754 , #c7962d5d);    
    transform: translate(-8px, -5px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.472);

}

.header-left{
    float: left;
    width: 50vw;
    padding-top: 1%;
}
.logo{
    position: absolute;
    width: 130px;
    height: 130px;
    margin-left: 5%;
}

.menu-icon{
    display: none;
    color: white;
    float: right;
}
.menu-list{
    display: none;
}

/* DESIGNING TOP IMAGE */
.container-right{
    float: left;
    width: 100%;
}

.container-right span{
    margin: auto 15px;
}
.container-right a{
    
    font-size: 24px;
    float: left;
    transition: all .2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    background: linear-gradient(135deg, #00000077, #c300ff69);
    border-bottom: 5px solid white;

    box-shadow:  3px -3px 5px #b89a594b,
                -5px 5px 5px #eb85ff88;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}
.callMe{
    position: absolute;
    top: 30%;
    left: 5%;
    padding: 10px 10vw;

}
.instagram{
    position: absolute;
    top: 50%;
    left: 5%;
    padding: 10px 5vw;

}
.container-right a:hover {
    padding: 10px 10vw;
    background: linear-gradient(45deg, #f6ce7783, #b664cf69);
    color: orange;
}
.container-right a:active{
    margin-top: 10px;
    border-radius: 10px;
    border-bottom: 0px;
    box-shadow:  5px -5px 10px #b89a59,
                -3px 3px 10px #ffe685;
}


.container{
    color: white;
    max-width: 100%;
}
.one{
    width: 100vw;
    height: 60vh;
    margin-top: 80px;
    padding-bottom: 1%;
    
    z-index: 1;
    background-image: url("./resources/bgtop3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: translate(-8px, -14px);
}

.two{
    width: 100%;
}
.image{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    
}
/* DESIGING THE TOP PORTION BELOW THE FRONT IMAGE */
.middle{
    transform: translate(-8px, -5px);
    width: 100vw;
    height: 70vh;

}

.box{
    float: right;
    margin-top: 30vh;
    margin: 15vh 25vw;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
    height: 30vh;
    border: 2px white solid;
    padding: 10px 10px;


}

.info{
    border-radius: 10px;
    height: 30vh;
}

.info h2{
    color: indianred;
    border-bottom: 2px solid coral;
    font-family: fantasy;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 75%;
}

.info li{
    color: brown;
    font-size: 25px;
    text-shadow: lightcoral;
    font-family: cursive;
    line-height: 150%;
}
/* DESIGING THE MIDDLE DOWN PORTION */
.middledown{
    transform: translate(-8px, -5px);
    width: 100vw;
    background-image: radial-gradient(rgba(166, 75, 202, 0.767) , rgba(255, 166, 0, 0.685));
    border-top: 2px solid rgba(255, 255, 255, 0.74);
    
}
.heading{
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    line-height: 50%;
    letter-spacing: 1px;   
    width: 100vw;
}
.items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 20vw;
    height: 25vw;
    margin: 2vw 2vw;
    border-radius: 50px;
    border: 2px solid rgba(93, 5, 255, 0.712);
    box-shadow:  5px -5px 20px #3033c5,
                -3px 3px 20px #fdcb00;
}







